           /* user styles */

            /* styles are what change the color and sizes of stuff on your site. */

            /* these are variables that are being used in the code
    these tended to confuse some people, so I only kept 
    the images as variables */

            :root {
                --header-image: url('artwork/title.png');

                /* colors */
                --content: #43256E;
            }

            /* if you have the URL of a font, you can set it below */
            /* feel free to delete this if it's not your vibe */

            /* this seems like a lot for just one font and I would have to agree 
    but I wanted to include an example of how to include a custom font.
    If you download a font file you can upload it onto your Neocities
    and then link it! Many fonts have separate files for each style
    (bold, italic, etc. T_T) which is why there are so many!
    
    */


            body {
                font-family: 'Fredoka', sans-serif;
                margin: 0;
                background-color: #08031A;
                background-size: 65px;
                color: #fceaff;
                background: url('artwork/tiled-bg.png') repeat 0 0;
				animation: bg-animate 4s infinite linear;
                background-attachment: absolute;			
			}
		
			
			@keyframes bg-animate {
				100% {
				background-position: 120px 120px;
				}
			}

            * {
                box-sizing: border-box;
            }
			

            /* below this line is CSS for the layout */

            /* this is a CSS comment
    to uncomment a line of CSS, remove the * and the /
    before and after the text */


            /* the "container" is what wraps your entire website */
            /* if you want something (like the header) to be Wider than
    the other elements, you will need to move that div outside
    of the container */
            #container {
                max-width: 1200px;
                /* this is the width of your layout! */
                /* if you change the above value, scroll to the bottom
      and change the media query according to the comment! */
                margin: 0 auto;
                /* this centers the entire page */
				padding: 20px;
            }

            /* the area below is for all links on your page
    EXCEPT for the navigation */
            #container a {
                color: #86B6E8;
                font-weight: bold;
                /* if you want to remove the underline
      you can add a line below here that says:
      text-decoration:none; */
            }

            #header {
                width: 100%;
                background-size: 100%;
              margin-top: 10px;
				background-repeat: no-repeat;
            }

            /* navigation section!! */
            #navbar {
                height: 40px;
                background-color: #13092D;
                /* navbar color */
                width: 100%;
            }

            #navbar ul {
                display: flex;
                padding: 0;
                margin: 0;
                list-style-type: none;
                justify-content: space-evenly;
            }

            #navbar li {
                padding-top: 10px;
            }

            /* navigation links*/
            #navbar li a {
                color: #ED64F5;
                /* navbar text color */
                font-weight: 800;
                text-decoration: none;
                /* this removes the underline */
            }

            /* navigation link when a link is hovered over */
            #navbar li a:hover {
                color: #a49cba;
                text-decoration: underline;
            }

            #flex {
                display: flex;
				justify-content: center;
            }

            /* this colors BOTH sidebars
    if you want to style them separately,
    create styles for #leftSidebar and #rightSidebar */
            aside {
                background-color: #2C2D5C;
                width: 200px;
                padding: 20px;
                font-size: smaller;
                /* this makes the sidebar text slightly smaller */
				border-radius: 20px;
				box-shadow: 7px 7px #181833;
            }


            /* this is the color of the main content area,
    between the sidebars! */
            main {
				background-color: #504488;
                flex: 1;
                padding: 20px;
                order: 2;
				border-radius: 20px;
				box-shadow: 7px 7px #181833;
            }

            /* what's this "order" stuff about??
    allow me to explain!
    if you're using both sidebars, the "order" value
    tells the CSS the order in which to display them.
    left sidebar is 1, content is 2, and right sidebar is 3! */

            */ #leftSidebar {
                order: 1;
            }

            #rightSidebar {
                order: 3;
            }

            footer {
                background-color: #2C2D5C;
                /* background color for footer */
                width: 100%;
                height: 40px;
                padding: 10px;
                text-align: center;
                /* this centers the footer text */
				border-radius: 20px;
				box-shadow: 7px 7px #181833;
            }

            h1,
            h2,
            h3 {
                color: #D2B4FF;
            }

            h1 {
                font-size: 25px;
            }

            strong {
                /* this styles bold text */
                color: #C371FB;
            }

            /* this is just a cool box, it's the darker colored one */
            .box {
                background-color: #13092D;
                border: 1px solid #ED64F5;
                padding: 10px;
            }

            /* CSS for extras */

            #info-box {
                width: 100%;
                padding: 15px;
                padding-left: 60px;
                padding-right: 60px;
                text-align: center;
                background-color: #2C2D5C;              
                border-radius: 20px;
				margin-bottom: 10px;
				box-shadow: 7px 7px #181833;

            }


			.info-flex {
			    display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
			
			#block {
				display: block;
				padding: 20px;
				margin: auto;

			}

			img {
				max-width: 100%;
				height: auto;
				object-fit: cover;
			}
			
			.button {
				background-color: #5179AD;
				border: 1px solid #FFFFFF;
				color: white !important;
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 24px;
				border-radius: 10px;
				transition-duration: 0.4s;
				  font-weight: bold;
				  font-family: inherit
			}
			
			.button:hover {
				background-color: #13092D;
				color: #ED64F5 !important;
			}

			.icon {
				padding: 10px;
				border-radius: 50%;
			}

			#more {display: none;}
			/* */
			
			/*POST LIST STYLE*/
			#postlistdiv ul {
			  font-size: 1.2em;
			  padding: 0;
			  list-style-type: none;
			}
/*			#recentpostlistdiv ul {
			  font-size: 1.2em;
			  padding: 0;
			  list-style-type: none;
			}*/
			.moreposts {
			  font-size: 0.8em;
			  margin-top: 0.2em;
			}

			/*NEXT AND PREVIOUS LINKS STYLE*/
			#nextprev {
			  text-align: center;
			  margin-top: 1.4em;
			}

			.disableable {
			  pointer-events: none;
			  cursor: pointer;
			  color: grey !important;
			}

            /* BELOW THIS POINT IS MEDIA QUERY */

            /* so you wanna change the width of your page? 
    by default, the container width is 900px.
    in order to keep things responsive, take your new height,
    and then subtrack it by 100. use this new number as the 
    "max-width" value below
    */

            @media only screen and (max-width: 1100px) {
                #flex {
                    flex-wrap: wrap;
                }

                aside {
                    width: 100%;
                }

                /* the order of the items is adjusted here for responsiveness!
      since the sidebars would be too small on a mobile device.
      feel free to play around with the order!
      */
                main {
                    order: 1;
                }

                #leftSidebar {
                    order: 2;
                }

                #rightSidebar {
                    order: 3;
                }

                #navbar ul {
                    flex-wrap: wrap;
                }
            }

