            :root {
                --header-image: url('artwork/title.png');

                /* colors */
                --content: #43256E;
            }

            body {
                font-family: 'Fredoka', sans-serif;
                margin: 0;
                background-color: #08031A;
                background-size: 65px;
                color: #fceaff;
                background: url('artwork/tiled-bg.png') repeat 0 0;
				animation: bg-animate 4s infinite linear;
                background-attachment: absolute;			
			}
		
			
			@keyframes bg-animate {
				100% {
				background-position: 120px 120px;
				}
			}

            * {
                box-sizing: border-box;
            }
			

            #container {
                max-width: 1200px;

                margin: 0 auto;

				padding: 20px;
            }


            #container a {
                color: #86B6E8;
                font-weight: bold;

            }

            #header {
                width: 100%;
                background-size: 100%;
              margin-top: 10px;
				background-repeat: no-repeat;
            }

            #navbar {
                height: 40px;
                background-color: #13092D;
                width: 100%;
            }

            #navbar ul {
                display: flex;
                padding: 0;
                margin: 0;
                list-style-type: none;
                justify-content: space-evenly;
            }

            #navbar li {
                padding-top: 10px;
            }

            #navbar li a {
                color: #ED64F5;
                font-weight: 800;
                text-decoration: none;
            }

            #navbar li a:hover {
                color: #a49cba;
                text-decoration: underline;
            }

            #flex {
                display: flex;
				justify-content: center;
            }

            aside {
                background-color: #2C2D5C;
                width: 200px;
                padding: 20px;
                font-size: smaller;

				border-radius: 20px;
				box-shadow: 7px 7px #181833;
            }


            main {
				background-color: #504488;
                flex: 1;
                padding: 20px;
                order: 2;
				border-radius: 20px;
				box-shadow: 7px 7px #181833;
            }

            */ #leftSidebar {
                order: 1;
            }

            #rightSidebar {
                order: 3;
            }

            footer {
                background-color: #2C2D5C;

                width: 100%;
                height: 40px;
                padding: 10px;
                text-align: center;
				border-radius: 20px;
				box-shadow: 7px 7px #181833;
            }

            h1,
            h2,
            h3 {
                color: #D2B4FF;
            }

            h1 {
                font-size: 25px;
            }

            strong {
                color: #C371FB;
            }


            .box {
                background-color: #13092D;
                border: 1px solid #ED64F5;
                padding: 10px;
            }


            #info-box {
                width: 100%;
                padding: 15px;
                padding-left: 60px;
                padding-right: 60px;
                text-align: center;
                background-color: #2C2D5C;              
                border-radius: 20px;
				margin-bottom: 10px;
				box-shadow: 7px 7px #181833;

            }


			.info-flex {
			    display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}
			
			#block {
				display: block;
				padding: 20px;
				margin: auto;

			}

			img {
				max-width: 100%;
				height: auto;
				object-fit: cover;
			}
			
			.button {
				background-color: #5179AD;
				border: 1px solid #FFFFFF;
				color: white !important;
				padding: 15px 32px;
				text-align: center;
				text-decoration: none;
				display: inline-block;
				font-size: 24px;
				border-radius: 10px;
				transition-duration: 0.4s;
				  font-weight: bold;
				  font-family: inherit
			}
			
			.button:hover {
				background-color: #181833;
				color: #86B6E8 !important;
			}

			.icon {
				padding: 10px;
				border-radius: 50%;
			}

			#more {display: none;}

			#postlistdiv ul {
			  font-size: 1.2em;
			  padding: 0;
			  list-style-type: none;
			}
/*			#recentpostlistdiv ul {
			  font-size: 1.2em;
			  padding: 0;
			  list-style-type: none;
			}*/
			.moreposts {
			  font-size: 0.8em;
			  margin-top: 0.2em;
			}

			#nextprev {
			  text-align: center;
			  margin-top: 1.4em;
			}

			.disableable {
			  pointer-events: none;
			  cursor: pointer;
			  color: grey !important;
			}

            @media only screen and (max-width: 1100px) {
                #flex {
                    flex-wrap: wrap;
                }

                aside {
                    width: 100%;
                }

                main {
                    order: 1;
                }

                #leftSidebar {
                    order: 2;
                }

                #rightSidebar {
                    order: 3;
                }

                #navbar ul {
                    flex-wrap: wrap;
                }
            }

div.e > span:nth-child(2) {
	display: none;
}